* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1c50e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    overflow: hidden;
}

.sec-one {
    /* display: flex;
    justify-content: start;
    align-items: center; */
    margin: 100px;
}

.sec-one .form {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    text-align: left;
    max-width: 750px;
    position: relative;
}

.sec-one h1 {
    text-align: center;
    margin: 50px auto 20px;
}

.sec-one label {
    display: block;
    font-weight: 100;
    margin: 20px 0 5px;
    color: #666;
    font-size: 1.1em;
}

.sec-one input:not(:last-child),
.sec-one textarea {
    background-color: #eee;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 5px;
    padding: 20px;
    width: 100%;
}

.sec-one input:not(:last-child)::placeholder,
.sec-one textarea::placeholder {
    color: #aaa;
    font-size: 1.2em;
}

.sec-one textarea {
    font-size: 1.2em;
    height: 100px;
    margin-bottom: 20px;
}

.sec-one input[type="checkbox"] {
    display: inline-block;
    width: 20px;
}

.sec-one a {
    color: #08f;
    text-decoration: none;
    letter-spacing: 1.1px;
}

.sec-one input:last-child {
    width: 100%;
    padding: 30px;
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    color: #ffffff;
    background-color: #69c367;
    font-size: 1.3em;
    cursor: pointer;
    margin: 30px 0;
}

.sec-one input:last-child:hover {
    color: #111111;
    background-color: #a2dba1;
}

.sec-one .img {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 500px;
    height: 500px;

}

.sec-one .img img {
    width: 100%;
}

.freepik {
    display: block;
    margin: 150px 0 100px;
    color: #fff;
}

.freepik a {
    color: #fff;
}

.freepik a:hover {
    color: #ccc;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 50px;
}

.footer span,
.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
    color: #666;
}


@media (max-width: 992px) {
    .sec-one {
        margin: 50px;
    }

    .form h1 {
        font-size: 1.6em;
    }

    .form input[type="submit"] {
        font-size: 1.4em;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
    }

    .form .img {
        top: 50%;
        left: 60%;
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 768px) {
    .sec-one {
        margin: 50px 40px;
    }

    .form {
        width: 100%;
    }

    .form .img {
        top: 90%;
        left: 40%;
        width: 400px;
        height: 400px;
    }

    .freepik {
        margin-top: 300px;
    }
}

@media (max-width: 567px) {

    .sec-one {
        margin: 20px;
        width: 100%;
        overflow: hidden;
    }


    .form {
        max-width: 300px !important;
    }

    .form h1 {
        font-size: 1.2em;
    }

    .form input[type="submit"] {
        margin-bottom: 50px;
        font-size: 1em;
    }

    .form .img {
        top: 95%;
        left: 0%;
        width: 300px;
        height: 300px;
    }

    .freepik {
        margin-top: 300px;
    }

    .footer {
        padding: 20px;
        margin-bottom: 0;
    }

    .footer a,
    .footer span {
        font-size: 0.5em;
    }
}

/* 
@media (max-width: 400px) {

    .sec-one {
        margin: 20px;
        width: 100%;
        overflow: hidden;
    }


    .form {
        max-width: 300px !important;
    }

    .form h1 {
        font-size: 1.2em;
    }

    .form input[type="submit"] {
        margin-bottom: 50px;
        font-size: 1em;
    }

    .form .img {
        top: 95%;
        left: 0%;
        width: 300px;
        height: 300px;
    }

    .freepik {
        margin-top: 300px;
    }

    .footer {
        padding: 20px;
        margin-bottom: 0;
    }

    .footer a,
    .footer span {
        font-size: 0.5em;
    }
} */